* {
	font-family: "Lucida Grande", Arial, serif;
	text-align: left;
}
a{
	text-decoration:none;
	color: #5269A0;
	-webkit-transition: 0.5s ease;  
	-moz-transition: 0.5s ease;  
	-o-transition: 0.5s ease;  
	transition: 0.5s ease;
}
a:hover{
	color: #37476C;
	-webkit-transition: 0.2s ease;  
	-moz-transition: 0.2s ease;  
	-o-transition: 0.2s ease;  
	transition: 0.2s ease;
}
html{
	background-image:url("bg.png");
	background-position:center;
	background-repeat:repeat-y;
	background-color:#E8EDF4;
}
body{
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
}
img{
	border: none;
	vertical-align:left;
	margin-top: -10px;
	margin-bottom: -10px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  }
  .sidebar {
	  width: 25%;
	  float: left;
  }
/*h2{
	margin: 0.2em;
}*/

#disqus_thread {
	margin: 0 40px;
}
